@font-face {
    font-family: Comic;
    src: url(/css/SVN-Comic\ Sans\ MS.ttf);
}
a, div, input, h1, h2, h3, h4 {
    font-family: Comic;
}
/* load page if the page load too slow */
#out-loader {
    display: block;
    background-color: #2d2d2d;
}
#loader {
    background-color: #2d2d2d;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}
@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
#myDiv {
    display: none;
    text-align: center;
}
/* require */
* {
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #2d2d2d;
}
/* body */
.main {
    border-bottom: 1px solid whitesmoke;
    text-align: center;
}
.col-4 {
    transition: transform .4s;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}
.col-4:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.link-social {
    color: whitesmoke;
    font-size: 20px;
}
.center-border {
    border-right: 1px solid whitesmoke;
    height: auto;
}
.login {
    padding-top: 25px;
    color: rgb(232, 230, 230);
    text-align: center;
    font-size: 40px;
}
.login-form {
    margin: auto;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 20px;
    width: 69%;
    height: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
input {
    outline: none;
    border-radius: 3px;
    padding-inline: 5px;
    background-color: transparent;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(18, 17, 17, 0.615), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-in, .input-in2, .input-in3, .input-in4, .input-in5 {
    border: none;
    border-bottom: 1px solid rgb(58, 58, 58);
}
label {
    color: whitesmoke;
    font: 30px;
}
.login-name {
    padding-bottom: 7px;
    font-size: 19px;
}
.pass {
    padding-bottom: 7px;
    font-size: 19px;
}
.submit {
    color: whitesmoke;
    outline: none;
    padding-inline: 5px;
    border: 1px solid rgba(162, 161, 161, 0.407);
    border-radius: 2px;
    font-size: 20px;
    width: 5cm;
    max-width: 5.5cm;
}
.submit:hover {
    background-color: rgba(183, 169, 169, 0.084);
    transition: 0.3s;
}
::placeholder {
    color: rgb(225, 225, 225);
}
.have-acc {
    font-size: 20px;
    color: whitesmoke;
}
.goto-signup {
    font-size: 19px;
    color: grey;
}
.goto-signup:hover {
    color: rgb(148, 207, 221);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}